img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
border-radius: 8px;
}
h4 { color: #fff; font-family: 'Righteous', cursive; font-size: 40px; font-weight: normal; line-height: 60px; margin: 10px 0 20px; text-transform: uppercase; text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; text-align: center;text-align: center }
}
body {

    font-family: 'ShareTech', sans-serif;
    font-size: 68px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px#0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvgxmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cgfill-rule='evenodd'%3E%3Cgid='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpathd='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(torighttop, #343a40, #2b2c31, #211f22, #151314, #000000);
}
 
h1 {
    margin: 20px;
}	  
    
	font-family:Arial;color:white
	

}


.blue {
	color:blue;


}

.bigfont{
	font-size:font-size: 32px;
}
#speicalstyle{
	border: 2px solid black;
	background-color: gray;
}

#speicalstyle2{
	width:15%;

}
html {
	--u: 2.5vmin;
    --c1: hsl(0deg 0% 0%);
    --c2: hsl(212deg 4% 9%);
    --c3: hsl(212deg 7% 36%);
    --gp: 50%/calc(var(--u) * 5) calc(var(--u) * 10);
    --bp: calc(var(--u) * -2.5) calc(var(--u) * -5);
    height: 100vh;
    --bg: 
		radial-gradient(circle at 50% 25%, var(--c2) 23%, #fff0 25% 100%) var(--gp), 
		conic-gradient(from 270deg at 34% 46%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
		conic-gradient(from 45deg at 66% 46%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
		conic-gradient(from 180deg at 50% 80%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
		conic-gradient(from 135deg at 50% 80%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
		conic-gradient(from 0deg at 0% 20%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
		conic-gradient(from -45deg at 100% 20%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
		linear-gradient(180deg, var(--c2) 0 4.5%, #fff0 0 45.25%, var(--c2) 0 50%, #fff0 0% 100%) var(--gp), 
		radial-gradient(circle at 50% 25%, #fff0 0 25%, var(--c2) 26% 32%, #fff0 0 100%) var(--gp), 
		linear-gradient(165deg, var(--c3) -15%, var(--c1) 44%, #fff0 0 100%) var(--gp), 
		linear-gradient(180deg, var(--c1) 50%, #fff0 0 100%) var(--gp);
    background: var(--bg), var(--bg);
    background-position: 
		var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), 
		0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
	background-color: var(--c2);
}
body { color: #b48608; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center; }


p { color: #eee; font-family: 'Droid Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }


a { color: #b48608; text-decoration: none; border-bottom: 1px solid #4c3a07; }


a:hover { color: #fff; background: #b48608; }


.date { border-top: 1px solid #fff; position: relative; top: 20px; margin-bottom: 30px; }


.date span { color: #000; text-decoration: none; font-style: italic; font-size: 13px; text-align: center; padding: 2px 5px; background: #fff; width: 120px; margin: 0 auto; display: block; position: relative; top: -10px; font-family: "Droid serif", serif; }


a.btn { font-family: 'Droid serif', serif; background: #b48608; padding: 4px 7px; color: #000; text-decoration: none; margin: 0 auto; width: 100%; width: 120px; margin: 0 auto; display: block; text-align: center; font-style: italic; }


a.btn:hover { color: #000; background: #fff; }


.left { float: left; margin: 0 5% 30px 0; width: 30%; }


.right { float: right; margin: 0 0 30px 0; width: 30%; }

#israelstyle{
font-family:Arial;color:white;
font
}
#imagestyle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
border-radius: 22px;
}
#imgcontries {
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

<a href="paris.jpg">
  <img src="paris.jpg" alt="Paris">
</a>
}
#catstyle{
  width: 90%;
  height: 400px;
  background-image: url('img_cat.jpg');
  background-size: 100% 100%;
  border: 10px solid gray;
}

